/* Main Navbar */

#navbar-color{
    background-color: #003367;
    padding: -12px 15px;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 1024px){
    #navbar-color{
        background-color: #304E89;
        padding: -12px 15px;
        font-family: 'Roboto', sans-serif;
    }
}
#navbar-brand-color{
    background-color: #304E89;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.img-navbar{
    width: 40px;
}
#block1{
    background-color: #003367;
    height: 1000px;
    width: 100%;
     float: left;
    
}
#block2{
    background-color: #F08219;
    height: 10px;
    width: 100%;
     
    
}
#BContact{
    background-color: #F08219;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;

}
#titre1{
margin-left: 140px;
}

#block3{
    background-color: #a0a0a0;
    height: 1px;
    width: 100%;
    margin-top: 10px;
}
#cb{
    height: 118px;
    width:700px;
  
}
.img-carousel{
    width: auto;
    height: 150px;
}

.btn-grey{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #C9C8CC;
}
